body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.converter {
    background-color: rgb(208, 183, 93);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
}
.video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#bvideo {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 80%;
    min-height: 80%;
}

.input-group {
    margin-bottom: 20px;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
}
.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.convert-btn {
    background-color: #007bff;
    color: #e4ee5f;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
.result {
    margin-top: 20px;
    font-weight: bold;
}
